$spotify-green: #1DB954;
p {
    margin: 0;
}

.login-page {
    background-color: black;
    height: 100vh;
    width: 100vw;
    padding: 25vh 0;
}

.landing-jumbotron {
    max-width: 50vw;
    height: 50vh;
    text-align: center;
    padding-top: 5vh;
    border-radius: 5vw;
    margin: auto;
    background-color: black;
    border: 3px solid $spotify-green;
    color: white;
    overflow-y: scroll;
    .login-btn {
        border-radius: 3vh;
        padding: 2vh 2vw;
        background-color: $spotify-green;
        color: white;
        margin-top: 19vh;
    }
}

.my-navbar {
    .nav-text {
        color: white;
        text-align: center;
    }
}

.body {
    background: #222222;
    color: white;
    .playlists-section {
        padding-top: 5vh;
        .playlists-row {
            width: 100vw;
            margin: auto;
            .text-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
        .playlists-list {
            text-align: left;
            .playlist-card {
                padding-left: 2vw;
            }
        }
    }
    .stats-section {
        padding-top: 3vh;
        width: 100vw;
        .song-column {
            padding-top: 2vh;
            overflow: scroll;
            height: 100%;
            .song-list {
                text-align: left;
                margin: none;
                padding: 0 1vw;
                border: none;
                .song-accordion {
                    padding-top: 1vh;
                }
                .song-entry {
                    .song-clickable,
                    .song-info {
                        background-color: #363636;
                    }
                    .song-clickable:hover {
                        color: $spotify-green;
                        cursor: pointer;
                    }
                    .no-lyric-msg {
                        margin-top: 20px;
                        color: red;
                    }
                }
            }
        }
        .stat-column {
            padding-top: 2vh;
            overflow: scroll;
            height: 100%;
            .stat-card-container {
                .stat-card {
                    border: 1px solid white;
                    border-radius: 10px;
                    padding: 5px;
                    margin: 10px 30px;
                }
            }
        }
    }
}

::-webkit-scrollbar {
    display: none;
}

.scroll-container {
    display: flex;
    overflow: hidden;
    height: 100vh;
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;
}

.song-column,
.lyric-column,
.stat-column {
    overflow: auto;
    height: auto;
    padding: .5rem;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}