$spotify-green: #1DB954;
$column-padding: 20px;
$background-dark: hsl(228, 8%, 13%);
// $stat-column-bg: #63A083;
$song-column-bg: #2C6154;
$stat-column-bg: #1C4242;
$lyric-column-bg: #293B4B;
* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: auto;
}

p {
    margin: 0;
}

.login-page {
    // background-color: $background-dark;
    background-color: black;
    height: 92vh;
    width: 100vw;
    // padding: 25vh 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .landing-jumbotron {
        min-width: 25vw;
        width: 40vw;
        max-width: 75vw;
        height: 50vh;
        text-align: center;
        border-radius: 5vw;
        // margin-top: 10vh;
        padding: 5vh 0 0 0;
        // background-color: rgb(19, 14, 14);
        background-color: black;
        border: 3px solid $spotify-green;
        color: white;
        overflow-y: scroll;
        box-shadow: 0 0 30px rgba(255, 255, 255, .5);
        .login-btn {
            border-radius: 5vw;
            padding: 2vh 2vw;
            // background-color: $spotify-green;
            // color: white;
            color: $spotify-green;
            margin-top: 19vh;
            border: 2px solid white;
        }
        .login-btn:hover {
            color: white;
        }
        &:hover {
            text-shadow: 0 0 5px white;
        }
    }
    .frog-img {
        width: 600px;
        height: 280px;
        margin-top: 45vh
    }
}

.my-navbar {
    background-color: $background-dark;
    // position: sticky;
    top: 0;
    z-index: 99;
    height: 8vh;
    .nav-text {
        color: white;
    }
    .nav-title {
        color: $spotify-green;
        text-align: center;
    }
    .nav-title:hover {
        color: $spotify-green;
        border-bottom: 2px solid white;
    }
    .nav-right {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .nav-text {
            padding: 0 40px;
        }
    }
}

.body {
    font-family: 'Montserrat', sans-serif;
    background: $background-dark;
    color: white;
    min-height: 92vh;
    .playlists-section {
        padding-top: 3vh;
        padding-bottom: 3vh;
        border-bottom: 2px solid green;
        margin-bottom: 3vh;
        .playlists-row {
            width: 100vw;
            margin: auto;
            align-items: center;
            .text-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
        .playlists-list {
            text-align: left;
            width: 100px;
            border-radius: 20px;
            border: 3px solid white;
            padding: 0;
            background-color: $spotify-green;
            .playlist-card {
                padding: 2vh 2vw;
                // background-color: $spotify-green;
                background-color: #09973B;
            }
            .playlist-card:nth-child(2n) {
                // background-color: #56BA79;
                background-color: #35A95E;
            }
            .playlist-card:first-child {
                border-radius: 20px 20px 0 0;
            }
            .playlist-card:last-child {
                border-radius: 0 0 20px 20px;
            }
            .playlist-card:hover {
                background-color: #B1EDC6;
                color: $spotify-green;
                font-weight: bold;
                transition: 0.5s ease;
                font-size: 1.1rem;
            }
        }
    }
    .stats-section {
        width: 100vw;
        height: 92vh;
        .song-column {
            background-image: linear-gradient(to top, $song-column-bg, $background-dark);
            padding-top: $column-padding;
            overflow: auto;
            text-align: center;
            height: 100%;
            .playlist-title-row {
                display: flex;
                justify-content: space-around;
                align-items: center;
                padding: 5px 10px 10px 10px;
                .show-playlists-btn {}
                .playlist-title {
                    display: inline;
                }
            }
            .song-list {
                text-align: left;
                margin: none;
                padding: 0 .5vw;
                border: none;
                .song-accordion {
                    padding-top: 1vh;
                    border: none;
                }
                .song-entry {
                    .song-clickable,
                    .song-info {
                        background-color: black;
                        // border: 5px solid $spotify-green;
                        border: none;
                    }
                    .song-clickable:hover {
                        background-color: $spotify-green;
                        transition: 0.4s ease;
                        cursor: pointer;
                    }
                }
            }
        }
        .lyric-column {
            background-image: linear-gradient(to top, $lyric-column-bg 30%, $background-dark);
            padding-top: $column-padding;
            overflow: auto;
            height: 100%;
            text-align: center;
            a {
                color: yellow;
            }
            .lyric-container {
                a {
                    pointer-events: none;
                    color: white;
                }
                .no-lyric-msg {
                    color: red;
                }
            }
        }
        .stat-column {
            background-image: linear-gradient(to top, $stat-column-bg, $background-dark);
            padding-top: $column-padding;
            overflow: auto;
            text-align: center;
            height: 100%;
            .stat-card-container {
                display: grid;
                grid-template-columns: 1fr;
                .stat-card {
                    background: black;
                    border: 1px solid white;
                    border-radius: 50px;
                    padding: 5px;
                    margin: 10px 30px;
                    .stat-label {
                        color: #81ca9a;
                        padding-top: 5px;
                        padding-bottom: 3px;
                    }
                }
            }
        }
    }
    .triple-spinners {
        display: flex;
        justify-content: center;
        padding-top: 20px;
        .spinner {
            margin: 20px 30px;
        }
    }
}

::-webkit-scrollbar {
    display: none;
}

.scroll-container {
    display: flex;
    overflow: auto;
    height: 100vh;
    position: relative;
    width: 100%;
    will-change: overflow;
}

.song-column,
.lyric-column,
.stat-column {
    overflow-y: scroll;
    height: auto;
    padding: .5rem;
    -webkit-overflow-scrolling: auto;
    // -ms-overflow-style: none;
}

.btn-gradient {
    position: relative;
}

.btn-gradient:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: $spotify-green;
    transition: all 0.5s;
    border-radius: 20px;
    z-index: 0;
}

.btn-gradient:hover:after {
    width: 100%;
}

.btn-text {
    position: relative;
    z-index: 40;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

 ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}